<template>
  <div>
    {{ advert.author }}
  </div>
</template>

<script lang="ts">
import Component, { mixins } from 'nuxt-class-component'
import { Prop } from 'vue-property-decorator'

import { AdvertTypeInterface } from '~/logic/advert/types'
import TypedStoreMixin from '~/mixins/typed-store'

// @vue/component
@Component({})
/**
 * Comment component is used to represent a single user's comment.
 */
export default class Advert extends mixins(TypedStoreMixin) {
  @Prop({ 'required': true })
  /**
   * Passed comment from the parent component.
   */
  readonly advert!: AdvertTypeInterface

  /**
   * Changes comment's rating.
   * Can be used to increase or decrease comment's rating.
   *
   * @param commentId - Comment's identifier to change rating.
   * @param delta - Delta value to change rating value.
   */
  // changeRating (commentId: number, delta: number): void {
  //   this.typedStore.comments.updateRating({ commentId, delta })
  // }

  /**
   * Defines which color borders are.
   * Uses `comment`'s rating to choose color.
   *
   * @returns Pairs of class names and boolean values if they should be applied.
   */
  // get computedClasses (): Readonly<Record<string, boolean>> {
  //   return {
  //     [this.$style['comment-component']]: true,
  //     [this.$style['comment-positive']]: this.comment.rating > 0,
  //     [this.$style['comment-negative']]: this.comment.rating < 0,
  //   }
  // }
}
</script>


